name: Release to PyPI

on:
  push:
    tags:
      - 'v*'  # Triggers on tags like v1.0.0, v1.0.0-alpha.10

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: test-release   # change this to github environment name
      url: https://test.pypi.org/project/ada-verona/  # change this to real pypi.org
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python
        run: uv python install 3.10

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish --publish-url https://test.pypi.org/project/ada-verona/  #  # the publish url can be removed for production release
